:root {
  --yellow: #fae100;
  --horizontal-space: 23px;
  --vertical-space: 30px;
  --main-border: 1px solid rgba(0, 0, 0, 0.1);
  --grey-text: rgba(0, 0, 0, 0.8);
  --grey-subtext: rgba(0, 0, 0, 0.6);
  --grey-icon: rgba(0, 0, 0, 0.75);
  --grey-icon-sm: rgba(0, 0, 0, 0.17);
  --grey-chat: rgba(0, 0, 0, 0.4);
}
