.icon-row__icon span {
  margin-top: 18px;
  font-size: 17px;
  font-weight: 500;
  color: var(--grey-icon);
}

.find-addby {
  position: absolute;
  top: 165px;
  font-size: 17px;
  font-weight: 500;
}

.find-contacts {
  position: absolute;
  top: 185px;
  font-size: 17px;
  font-weight: 500;
}

.recommended-friends {
  margin-top: 35px;
  padding: 20px 0px;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
}

.recommended-friends__title {
  font-weight: 500;
  color: var(--grey-chat);
}

.recommended-friends__text {
  margin-top: 15px;
  padding: 95px 0px;
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: 500;
  color: var(--grey-chat);
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  opacity: 0.6;
  margin: 20px 0px;
  font-weight: 500;
}

.open-chat__header span {
  opacity: 0.5;
}

.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.open-post__title {
  font-weight: 600;
  margin-bottom: 8px;
  font-size: 20px;
}

.open-post__hashtags {
  text-transform: uppercase;
  opacity: 0.5;
  font-weight: 500;
  font-size: 17px;
}

.open-post__members {
  margin-top: 8px;
  display: flex;
  align-items: center;
}

.open-post__members img {
  width: 20px;
  height: 20px;
  border-radius: 40%;
  margin-right: 7px;
}

.open-post__member-count {
  opacity: 0.6;
  font-size: 17px;
  font-weight: 400;
}

.open-chat {
  border-bottom: var(--main-border);
}

.open-post__members .divider {
  margin: 5px 7px 0px 7px;
  width: 2px;
  height: 15px;
  background-color: var(--grey-icon-sm);
}

.open-post__member-status {
  font-size: 16px;
  font-weight: 400;
  color: #ff63c3;
}

.open-post__photo {
  position: relative;
}

.open-post__photo img {
  width: 105px;
  height: 105px;
  border-radius: 10px;
}

.open-post__heart-count {
  background-color: var(--grey-chat);
  color: white;
  padding: 7px 8px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.open-post__heart-count span {
  margin-left: 5px;
  font-size: 15px;
}

.open-post2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.open-chat2 {
  margin-top: 15px;
}

@keyframes heartBeat {
  0% {
    color: white;
    transform: none;
  }
  50% {
    color: tomato;
    transform: scale(1.5);
  }
  100% {
    color: white;
    transform: none;
  }
}

.open-post__photo:hover i {
  will-change: transform;
  animation: heartBeat 1s linear infinite;
}
