.badge {
  background-color: tomato;
  width: 25px;
  height: 25px;
  border-radius: 12.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  font-size: 14px;
}

.badge__sm {
  background-color: tomato;
  width: 22px;
  height: 22px;
  border-radius: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  font-size: 14px;
}

.badge__dot {
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.badge__dot-lg {
  background-color: tomato;
  width: 6.5px;
  height: 6.5px;
  border-radius: 3.4px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
