.nav {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #f9f9fa;
  padding: 15px 50px;
  box-sizing: border-box;
  border-top: var(--main-border);
}
.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  position: relative;
  color: #2f363e;
}

.nav__notification {
  position: absolute;
  left: 25px;
  bottom: 10px;
}

.nav__dot {
  left: 30px;
  bottom: 25px;
}
