.status-bar {
  position: fixed;
  top: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 5px 3px 10px 3px;
  box-sizing: border-box;
}
.status-bar__column {
  width: 33%;
}

.status-bar__column:first-child span {
  margin-right: 5px;
}

.status-bar__column:nth-child(2) {
  display: flex;
  justify-content: center;
  font-weight: bold;
}
.status-bar__column:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.status-bar__column .fa-lock {
  margin: 0px 5px;
}
.status-bar__column .fa-battery-full {
  margin: 0px 5px;
  color: var(--grey-icon);
}
