.user-component {
  justify-content: space-between;
  margin-bottom: 30px;
}
.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.user-component__profile {
  width: 67px;
  height: 65px;
  border-radius: 27px;
  margin-right: 15px;
}

.user-component__name {
  font-weight: 600;
  font-size: 22px;
  color: var(--grey-text);
}

.user-component__subtitle {
  margin-top: 10px;
  font-size: 15px;
  color: var(--grey-subtext);
}

.user-component__profile--xl {
  width: 78px;
  height: 75px;
  border-radius: 32px;
}

.user-component__profile--sm {
  width: 56px;
  height: 56px;
  border-radius: 23px;
}

.user-component__name--not-bold {
  font-weight: 500;
  font-size: 20px;
}

.user-component__column:last-child,
.user-component__messages {
  color: var(--grey-chat);
  font-weight: 500;
  font-size: 17px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-component__time {
  margin-bottom: 10px;
  display: block;
  font-size: 15px;
  align-items: flex-end;
}
